<!DOCTYPE html>
<html>

<head>
    <title>My Webpage</title>
</head>
<style>
    table,
    th,
    td,
    tr {
        border-collapse: collapse;
        border: 1.5px solid rgb(12, 18, 31);
        padding: 6px;
    }

    th {
        background-color: rgba(108, 135, 218, 0.982);
        color: whitesmoke;
        font-weight: 300;
        font-size: larger;
    }

    h1 {
        color: rgb(12, 18, 31);
    }
</style>

<body>
    <header>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Product List</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product=> { %>
                    <tr>
                        <td>
                            <%= product.name %>
                        </td>
                        <td>
                            <%= product.description %>
                        </td>
                        <td>
                            &pound; <%= product.price %>
                        </td>
                        <td>
                            <%= product.quantity %>
                        </td>
                        <td>
                            <%= product.category %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </main>



</body>

</html>